body,
html{
	margin: 0;
	padding: 0 auto;
}

*{
	box-sizing: border-box;
}
.TaskForm{
	text-align: center;
	align-content: center;
}
.InputTask{
	width: 80vw;
    margin-top: 10%;
    text-align: center;
}