body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html{
	margin: 0 auto;
	padding: 0;
	background-color: #f0efec;
}
*{
	box-sizing: border-box;
}
.navbar{
	text-align: center;
	background: #a2a6a3;
}
.navbarList{
	display: inline-flex;
	list-style: none;
}
.navLink{
	font-family: 'Spartan', sans-serif;
	font-size: 1.3em;
	color:#383838;
	text-decoration: none;
	font-weight: 700;
	margin-left: 5%;
}
.navLink:hover{
	color: #383338;
	text-decoration: none;
	border-bottom: 3px solid #a59eb9;
}
#inputDescription{
	width: 50vw;
}
a .navLink:active{
	border-bottom: 3px solid #a59eb9;
}
.navItem{
	width: 150px;
}
.formWrapper{
	display: inline-table;
	margin-top: 5%;;
}
.formGroup{
	padding: 5% 0% 5% 0%;
}
.fomControl{
	width: 30vw;
	height: auto;
	background-color: #b4b4b4;
}
.container{
	text-align: center;
}
.table{
	margin: auto;
}
.tableHead{
	font-size: 1.2em;
	font-weight: 600;
	text-decoration: underline;
}
/* .itemRemove{
	
} */